* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}
.head{
  background-image: url(https://i.pinimg.com/1200x/e4/88/1b/e4881b6c46403612183edf32b245d90b.jpg);
color: white;
}
.nav{
  background-image: url(https://i.pinimg.com/736x/73/d9/75/73d97572e5619c52f390ae71f9d57817.jpg);
background-position: center;
background-size: cover

}
.content{
  background-image: url(https://i.pinimg.com/1200x/e4/88/1b/e4881b6c46403612183edf32b245d90b.jpg);
color: white;
font-size: 20px;
  font-style: oblique;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Mobile first */
.container > * {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  grid-column: col-start / span 12;
}

@media (min-width: 576px) {
  .sidebar {
    grid-column: col-start / span 3;
    grid-row: 3;
  }
  .ads {
    grid-column: col-start / span 3;
    padding: 0;
    margin: 0%;
    position:relative;
  }
  .content, .footer {
    grid-column: col-start 4 / span 9;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .nav {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;
  }
  .content {
    grid-column: col-start 3 / span 8;
    grid-row: 2 / 4;
  }
  .sidebar {
    grid-column: col-start 11 / span 2;
background-image: url(https://i.pinimg.com/1200x/e4/88/1b/e4881b6c46403612183edf32b245d90b.jpg);
color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: oblique;
  background-position: center;
background-size: cover

  }
  .ads {
    grid-column: col-start 11 / span 2;
  }
  .footer {
    grid-column: col-start / span 12;
    background-image: url(https://i.pinimg.com/1200x/e4/88/1b/e4881b6c46403612183edf32b245d90b.jpg);
  color: white;
  font-size: 50px;
  font-style: oblique;
  }
  nav ul {
    flex-direction: column;
  }
}